.container-fluid {
    background-color: #fbf9f8; /* snow */
    height: 100%;
}

aside {
    border: none;
    vertical-align: top;
    height: 100%;
    width: 25%;
    /*position:fixed;*/
    z-index: 1;
    /*min-height: 900px;*/
    text-align: left;
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.075);
    /*display: flex;*/
    /*flex-direction: column;*/
    /*flex-grow: 1;*/
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

main.row {
    background-color: #fbf9f8; /* snow */
    padding-left: 10px;
    justify-content: space-evenly;
    height: 100%;
    overflow-y: auto;
}

footer {
    background-color: white;
    padding-left: 25em;
    height: 20%;
    text-align: center;
}

.nav-link {
    color: #8f989e; /* lightslategray */
}
/* mouse over link */
.nav-link:hover {
    color: #8f989e; /* lightslategray */
    font-weight: bold;
}
/* selected link */
.nav-link:active {
    color: #8f989e; /* lightslategray */
    font-weight: bold;
    font-size: 1.1em;
}

div .card {
    display: flex;
    max-width: 450px;
    min-width: 180px;
    padding: 1em;
}

div {
    text-align: left;
}

p {
    padding-top: 8px;
}

/*statuso rodykles */
.fas {
    font-size: 3em;
    color: #1baaa0; /* lightseagreen */
    align-content: center;
    vertical-align: center;
}

/*kitos ikonos šoniniame meniu*/
.fa-user, .fa-envelope, .fa-info {
    font-size: 1.5em;
    padding-right: 8px;
}
/*ikonos ties anketomis*/
.fa-file-contract {
    font-size: 1.5em;
    padding-right: 8px;
    color: #8f989e; /* lightslategray */
}

div.arrow {
    max-width: 60px;
}

/* mygtukai*/
a.btn {
    background-color: #1baaa0; /* lightseagreen */
    color: #ffffff;
    padding: 0.6em 1.5em;
    border: 1px solid #ffffff;
    border-radius: 8px;
    vertical-align: bottom;
}

a.btn:hover {
    background-color: #1baaa0; /* lightseagreen */
    color: #ffffff;
    font-weight: bolder;
    padding: 0.6em 1.5em;
    border: 1px solid #ffffff;
    border-radius: 8px;
    vertical-align: bottom;
}

a.btn.active {
    background-color: #1baaa0; /* lightseagreen */
    color: #ffffff;
    font-weight: bolder;
    padding: 0.6em 1.5em;
    border: 1px solid #ffffff;
    border-radius: 8px;
    vertical-align: bottom;
}

.input-group-text {
    color: white;
    background-color: #8f989e; /* lightslategray */
}

.btn {
    background-color: #1baaa0; /* lightseagreen */
    color: #ffffff;
    min-width: 100px;
    padding: 0.6em 1.5em;
    border: 1px solid #ffffff;
    border-radius: 8px;
    vertical-align: bottom;
}

.btn.btn-link-1 {
    background-color: #fbf9f8; /* snow */
    color: #282f47; /* darkslategray */
    text-decoration-line: underline;
    min-width: 10px;
    padding: 0.6em 1em;
    border: none;
    border-radius: 8px;
    vertical-align: bottom;
}

.btn.btn-link-1:hover {
    background-color: #fbf9f8; /* snow */;
    color: #282f47; /* darkslategray */
    font-weight: bolder;
    padding: 0.6em 1em;
    border: none;
    border-radius: 8px;
    vertical-align: bottom;
}

td {
    min-width: 150px;
}