# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\agnio\Desktop\CODING\AKADEMIJA_IT\PROJEKTAS_Darzelis\backas-Darzelis\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
