div button {
    background-color: #1baaa0; /* lightseagreen */
    color: #ffffff;
    padding: 0.6em 1.5em;
    border: 1px solid #ffffff;
    border-radius: 8px;
}

div button:hover {
    background-color: #1baaa0; /* lightseagreen */
    color: #ffffff;
    font-weight: bolder;
    padding: 0.6em 1.5em;
    border: 1px solid #ffffff;
    border-radius: 8px;
}